<header id="header">
    <a routerLink="/">
      <img src="../../assets/images/header-emblem.jpg" alt="logo"
      style="width: 90px; margin: 5px; border-radius: 6px;">
    </a>
    <h2 style="margin-left: 30vw; font-size: xx-large;
      font-style: oblique;">Demo app: payment methods</h2>
  </header>
<img src="./../../../assets/images/bg-cards.jpg" class="bg-image" />

<router-outlet></router-outlet>

<footer class="new_footer_area">
    <div class="new_footer_top">
         <div class="footer">
              <div class="content">
                   <div class="details">
                        <h4 class="address">About App</h4>
                        <p>
                             I'm Andrey Karpovich 🇺🇦 and this is my demo app for payment methods integration based on adyen API.
                             All the accounts are test.
                        </p>
                        <h4 class="mail">Email</h4>
                        <p>karpovich.andrey&#64;gmail.com</p>
                   </div>
                   <div class="stack">
                        <h4>Stack</h4>
                        <p>Angular 18</p>
                        <p>Angular Material</p>
                        <p>adyen-web, adyen/api-library</p>
                        <p>Node.js + Express</p>
                   </div>
                   <div class="social-media">
                        <h4>Links</h4>
                        <a target="_blank" href="https://github.com/Ktojan/leaflet-geojson-saudi-farming">Github
                             (code)</a>
                        <a target="_blank" href="https://leaflet-geojson-saudi-farming.vercel.app/ ">Live Demo</a>
                        <a target="_blank" href="https://www.linkedin.com/in/andrey-karpovich-345701131/">My
                             Linkedin</a>
                   </div>
              </div>
         </div>
    </div>
</footer>
