

.grid-content {
    margin-top: 90px;
}

table {
    width: 100%;
}

::ng-deep.mdc-card {
    border-radius: 12px !important;
}
::ng-deep.mat-grid-tile-content {
    display: block !important;
    padding: 1.5rem !important;
}
